<div class="bottom-nav">
    <ul class="am-tabs-nav am-cf ">
        <li name='/'><a href="/"><i class="am-icon-compass am-icon-sm" aria-hidden="true"></i></a></li>
        <!--<li name='/video'><a href="/video"><i class="am-icon-video-camera am-icon-sm" aria-hidden="true"></i></a></li>-->
        <li name='/me'><a href="/me"><i class="am-icon-user am-icon-sm" aria-hidden="true"></i></a></li>
        <li name='/search'><a href="/search"><i class="am-icon-search am-icon-sm" aria-hidden="true"></i></a></li>
    </ul>
</div>