<div class=" am-list-main">
  <h3 class="am-list-item-hd">
    <a href="###" class=""></a>
  </h3>
  <ul data-am-widget="gallery" class="myAppGallery am-gallery am-avg-sm-3
  am-avg-md-3 am-avg-lg-3 am-gallery-default" data-am-gallery="{ pureview: true }">
    <% for(var i=0; i<images.length; i++) {%>
      <li>
        <div class="am-gallery-item">
          <a href="###" class="">
          <img src="<%=images[i].thumbnail%>" data-rel="<%=images[i].mainPic%>" />
        </a>
        </div>
      </li>
      <% } %>

  </ul>
</div>