<!doctype html>
<html class="no-js">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="referrer" content="never">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>视频、阅读</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="/static/css/amazeui.min.css">
    <link rel="stylesheet" href="/static/css/app.css">
</head>

<body>
    <div class="am-g">
        <!-- 头部 -->
        <header data-am-widget="header" class="myAppHead am-header am-header-default">
            <h4 style="
    color: #fff;
    text-align: center;
">达盖尔的旗帜</h4>

        </header>
        <div style="height:49px"></div>
        <!-- 栏目切换 -->
        <div data-am-widget="tabs" class="myAppTab am-tabs am-tabs-d2">
            <div class="am-tabs-bd" style="margin-bottom:45px">
                <div class="myAppTabPanel am-tab-panel am-active">
                    <div data-am-widget="list_news" class="myAppNews am-list-news am-list-news-default">

                        <div class="am-list-news-bd">
                            <ul class="am-list">

                                <% for(var i=0; i<list.length; i++) {%>
                                    <li class="am-g am-list-item-desced">
                                        <%- include('components/ListImgBlock.html', {images:list[i]}) %>
                                    </li>
                                    <% } %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('components/BottomNav.html') %>
        </div>
    </div>


    <script src="/static/js/jQuery.min.js"></script>
    <script src="/static/js/amazeui.min.js"></script>
    <script src="/static/js/jquery.esn.autobrowse.js"></script>
    <script src="/static/js/common.js"></script>
</body>

</html>