<!doctype html>
<html class="no-js">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>视频、阅读</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="/static/css/amazeui.min.css">
    <link rel="stylesheet" href="/static/css/app.css">
</head>

<body>
    <div class="am-g">
        <div data-am-widget="tabs" class="myAppTab am-tabs am-tabs-d2">

            <div class="user-info">
                <!--<div class="avatar">
                    <img class="am-circle" src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/1000/h/1000/q/80" width="50" height="50" />
                    <span>上吧笨猪</span>

                </div>-->
                <div class="login">
                    <a href="/login" style="color:#000">
                        <img class="am-circle" src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/1000/h/1000/q/80" width="50" height="50" />
                        <div>请登录</div>
                    </a>

                    <div class="qq-wx-wb-user">
                        <span class="right-padding"><i class="am-icon-qq"></i><div>QQ</div> </span>
                        <span class="right-padding"><i class="am-icon-weixin"></i><div>微信</div> </span>
                        <span><i class="am-icon-weibo"></i> <div>微博</div></span>
                    </div>

                </div>
                <div class="block">

                </div>
                <ul class="user-zhxx">
                    <li><i class="am-icon-clock-o am-icon-sm"></i>
                        <div><span>最近浏览</span></div>
                    </li>
                    <li><i class="am-icon-star am-icon-sm"></i>
                        <div><span>我的收藏</span></div>
                    </li>
                    <li><i class="am-icon-eye am-icon-sm"></i>
                        <div><span>我的等级</span></div>
                    </li>
                    <li><i class="am-icon-money am-icon-sm"></i>
                        <div><span>我的余额</span></div>
                    </li>

                </ul>
                <div class="block">

                </div>
                <ul class="user-zhxx">
                    <li><i class="am-icon-cog am-icon-sm"></i>
                        <div><span>设置</span></div>
                    </li>
                    <li><i class="am-icon-send am-icon-sm"></i>
                        <div><span>关于我们</span></div>
                    </li>
                </ul>
            </div>

            <%- include('components/BottomNav.html') %>
        </div>
    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/amazeui.min.js"></script>
    <script src="/static/js/app.js"></script>
</body>

</html>