<!DOCTYPE html>
<html lang="en">

<head>
    <title>登录</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/amazeui.min.css">
    <link rel="stylesheet" href="/static/css/app.css">
</head>

<body>

    <div step=1 class="login-panel">
        <a class="back-btn am-icon-chevron-left " href="javascript:history.go(-1)"></a>
        <h2 style="margin:15% 0">注册</h2>

        <div class=login-item>
            <input class=" am-radius" type="text" id=userName placeholder="登录账户" />
        </div>
        <div class=login-item>
            <input class=" am-radius" id=password type="password" placeholder="密码" />
        </div>
        <div class=login-item>
            <input class=" am-radius" id=re_password type="password" placeholder="确定密码" />
        </div>
        <div class=login-item>
            <button type="button" id=nextstep class="am-btn am-btn-secondary">下一步</button>
        </div>
    </div>
    <div step=2 class="login-panel" style="display:none">
        <a class="back-btn am-icon-chevron-left " href="javascript:history.go(-1)"></a>
        <h2 style="margin:15% 0">完善资料</h2>

        <div class=login-item>
            <input class=" am-radius" type="text" id='nickname' placeholder="昵称" />
        </div>
        <div class=login-item>
            <input class=" am-radius" type="number" oninput='if(value.length>11)value=value.slice(0,11)' id="telphone" placeholder="手机号码" />
        </div>
        <div class=login-item>
            <input class=" am-radius" type="text" id="email" placeholder="email" />
        </div>
        <div class=login-item>
            <div class="am-form-group">
                <label class="am-radio-inline">
                <input style="margin-top: -5px;" type="radio"  value="1" name="sex"> 男
                </label>
                <label class="am-radio-inline">
        <input value="2" style="margin-top: -5px;" type="radio" name="sex"> 女
      </label>

            </div>
        </div>
        <div class=login-item>
            <button type="button" id=submit class="am-btn am-btn-secondary">注 册</button>
        </div>
    </div>

    <script src="/static/js/zepto.min.js"></script>
    <script src="/static/js/layer_mobile/layer.js"></script>
    <script>
        var param = {
            'uesrName': '',
            'nickname': '',
            'sex': 0,
            'password': '',
            'telphone': '',
            'email': '',
        }

        window.onpopstate = function() {
            if (history.state && history.state.step == 2) {
                $('[step="1"]').hide();
                $('[step="2"]').show();
            } else {
                $('[step="1"]').show();
                $('[step="2"]').hide();
            }
        }

        $('#userName').blur(function() {
            param.userName = $.trim($('#userName').val())
            if (param.userName != '') {
                $.getJSON('/api/user/noexist/' + param.userName, function(res) {
                    if (res.code) {
                        layer.open({
                            content: '用户名已存在',
                            skin: 'msg',
                            time: 3
                        })
                    }
                })
            }
        })


        $("#nextstep").click(function() {

            param.userName = $.trim($('#userName').val())
            param.password = $.trim($('#password').val())
            param.re_password = $.trim($('#re_password').val())

            if (param.userName == '') {
                layer.open({
                    content: '用户名不能为空',
                    skin: 'msg',
                    time: 3
                })
                return
            }
            if (param.password == '') {
                layer.open({
                    content: '密码不能为空',
                    skin: 'msg',
                    time: 3
                })
                return
            }
            if (param.password != param.re_password) {
                layer.open({
                    content: '密码不一致',
                    skin: 'msg',
                    time: 3
                })
                return
            }
            $('[step="1"]').hide();
            $('[step="2"]').show();
            history.pushState({
                step: 2
            }, '', 'next-step');
        })
        $('#submit').click(function() {
            param.nickname = $('#nickname').val();
            param.email = $('#email').val();
            param.telphone = $('#telphone').val();
            param.sex = $('[name="sex"]:checked').val();

            if (param.telphone && !/\d{11}/.test(param.telphone)) {
                layer.open({
                    content: '请输入正确的手机号',
                    skin: 'msg',
                    time: 3
                })
                return
            }
            if (param.email && !/^[A-Za-zd]+([-_.][A-Za-zd]+)*@([A-Za-zd]+[-.])+[A-Za-zd]{2,5}$/.test(param.email)) {
                layer.open({
                    content: '请输入正确的邮箱地址',
                    skin: 'msg',
                    time: 3
                })
                return
            }

            $.ajax({
                type: 'POST',
                url: '/api/user/save',
                data: JSON.stringify(param),
                contentType: 'application/json',
                success: function(res) {
                    if (!res.code) {
                        layer.open({
                            content: '注册成功',
                            skin: 'msg',
                            time: 3
                        })
                        setTimeout(function() {
                            location.href = '/me';
                        }, 1000)

                    } else {
                        layer.open({
                            content: res.msg,
                            skin: 'msg',
                            time: 3
                        })
                    }
                }
            })

        })
    </script>
</body>

</html>