<!doctype html>
<html class="no-js">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>视频、阅读</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" href="/static/css/amazeui.min.css">
  <link rel="stylesheet" href="/static/css/app.css">
</head>

<body>
  <div class="am-g">
    <!-- 头部 -->
    {% include 'components/Search.html' %}
    <!-- 栏目切换 -->
    <div data-am-widget="tabs" class="myAppTab am-tabs am-tabs-d2">

      <div class="am-tabs-bd">
        <div class="myAppTabPanel am-tab-panel am-active">
          {% include 'components/Slider.html' %}
          <!-- 新闻列表 -->
          <div data-am-widget="list_news" class="myAppNews am-list-news am-list-news-default">

            <div class="am-list-news-bd">
              <ul class="am-list">
                <!--缩略图在标题右边-->
                <li class="am-g am-list-item-desced">
                  {% include 'components/RightImgBlock.html' %}
                </li>
                <li class="am-g am-list-item-desced">
                  {% include 'components/ArcticleBlock.html' %}
                </li>
                <li class="am-g am-list-item-desced">
                  {% include 'components/ListImgBlock.html' %}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="bottom-nav">
<ul class="am-tabs-nav am-cf ">
        <li><a><i class="am-icon-home am-icon-sm" aria-hidden="true"></i></a></li>
        <li><a><i class="am-icon-video-camera am-icon-sm" aria-hidden="true"></i></a></li>
        <li><a><i class="am-icon-file-text am-icon-sm" aria-hidden="true"></i></a></li>
        <li><a><i class="am-icon-user am-icon-sm" aria-hidden="true"></i></a></li>
      </ul>
      </div>
      
    </div>
  </div>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/amazeui.min.js"></script>
  <script src="/static/js/app.js"></script>
</body>

</html>