<div class=" am-list-main">
                    <h3 class="am-list-item-hd"><a href="###" class="">An Interesting UX Design Departure for Mechanical Wristwatches</a></h3>
                    <ul data-am-widget="gallery" class="myAppGallery am-gallery am-avg-sm-3
  am-avg-md-3 am-avg-lg-3 am-gallery-default" data-am-gallery="{ pureview: true }">
                      <li>
                        <div class="am-gallery-item">
                          <a href="###" class="">
                            <img src="/static/img/a5.jpg" alt="远方 有一个地方 那里种有我们的梦想" />

                          </a>
                        </div>
                      </li>
                      <li>
                        <div class="am-gallery-item">
                          <a href="###" class="">
                            <img src="/static/img/a4.jpg" alt="某天 也许会相遇 相遇在这个好地方" />

                          </a>
                        </div>
                      </li>
                      <li>
                        <div class="am-gallery-item">
                          <a href="###" class="">
                            <img src="/static/img/a8.jpg" alt="不要太担心 只因为我相信" />
                          </a>
                        </div>
                      </li>

                    </ul>


                    <div class="am-list-item-text">We like seeing designers experimenting with the gradations between two extremes. Take wristwatches, for
                      instance. </div>

                  </div>