<div class="am-list-item-thumb-right am-list-item-thumbed">

    <div class=" am-u-sm-8 am-list-main">
    <h3 class="am-list-item-hd"><a href="###" class="">Who Knew? The Waterbed Was Invented by an Industrial Design</a></h3>


    <div class="am-list-item-text">You can now order 3D-printed "trophies" documenting your precise travels in 3D space</div>

</div>
<div class="am-u-sm-4 am-list-thumb">
    <a href="###" class="">
        <img src="/static/img/b2.jpg" alt="我最喜欢的一张画" />
    </a>
</div>
</div>

