<div class="myAppImgNews">
    <div class="myAppImgNewsList">
        <div class="myAppImgNewsBlock">
            <img src="/static/img/a2.jpg" alt="">
            <div class="myAppImgNewsTitle">
                Purchased new from a Chicago department store in late 1940's or thereabouts.
            </div>
            <div class="myAppImgNewsUser">
                <div class="myAppImgNewsIco">
                    <img src="/static/img/c1.jpg">
                </div>
                <div class="myAppImgNewsName">
                    Dramos
                </div>
                <div class="myAppImgNewsTiem">
                    ToDay At 12:35
                </div>
            </div>
        </div>
    </div>
</div>